
.cardFav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  gap: 2rem;
  block-size:auto;
  max-inline-size: 85rem;
  margin-block-start: 0.5rem;
}

.selectBtn {
  display: flex;
  gap: 4rem;
  position: sticky;
  top: 5rem;
  z-index: 1;
  backdrop-filter: blur(4.5px);
 }

.selectBtn select {
  background-color: #106561;
  color: #e8f0e9;
  font-style: italic;
  border-radius: 0.25rem;
  border: 1px solid #066849;
  block-size: 2rem;
  font-size: 18px;
  outline: none;
  
} 
.btn button {
  block-size: 2rem;
  border: 1px solid #066849;
  background-color: #106561;
  color: #e8f0e9;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.5rem; 
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}