
.cardsItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  gap: 2rem;
  block-size:auto;
  max-inline-size: 85rem;
  margin-block-start: 2.5rem;
  
}