
@font-face {
  font-family: 'Merienda';
  src: url("../../fuentes/Merienda-Bold.ttf");
  font-style: bold;
  font-weight: bold;
}

.datos {
  display: flex;
  inline-size: 80vw;
  block-size: 65vh;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 2rem;
  margin-inline-start: 7rem;
  gap: 2.5rem;
  
}
.datos h2 {
  font-family: 'Merienda';
  font-weight: bold;
  color: #b69ae8;
  line-height: 3rem;
     
}
.datos img {
  inline-size: 37rem;
  block-size: 10rem;
  vertical-align: middle;
  border-radius: 0.25rem;
}